<h1>Total Number of Matching Foods: </h1>

<h2>Top 10 Foods Containing ____</h2>
<section class='food'>
  <h3>Input Name Here</h3>
    <section class='GTIN/UPC code'>
      <h4>GTIN/UPC code: </h4>
    </section>

    <section class='description'>
      <h4>description: </h4>
    </section>

    <section class='Brand Owner'>
      <h4>Brand Owner: </h4>
    </section>

    <section class='ingredients'>
      <h4>ingredients: </h4>
    </section>
</section>
